.comments-area {

	.comments-title {
		padding: 10px 0px 10px 0px;
	}

	.comment-body{
		padding-bottom:20px;
		border-bottom: 1px solid #ececec;
		padding-top: 20px;
	}
}

.comment-list {
	padding-left: 10px
}



.comment-metadata{
	padding-left: 40px;
	display:inline-block;
	a{
		font-weight:bold;
		color: #585858;
	}

	a:hover {
		color: black;
	}
}

.comment-respond {

  padding: 20px 0px 0px 10px;
}

.form-submit {

  .submit {
    background-color: #ffffff;
    border: 1px solid #bfbfbf;
    border-radius: 5px ;
  }

  .submit:hover {
    background-color: #bfbfbf;
  }
}

.comment-form-comment {

	label {
		display: none;
	}
}

.logged-in-as {
	padding-top: 5px;

	a {
		font-weight:bold;
		color: #585858;
	}

	a:hover {
		color:black;
	}
}

.reply {
	padding-left: 40px;

	a {
		font-weight:bold;
		color: #585858;
	}

	a:hover {
		color:black;
	}
}

.comment-content {
	padding: 15px 0px 15px 0px;
	padding-left:40px;
}
.vcard {
	.avatar {
		margin-bottom:-20px;
		border-radius:50%;
	}

	.fn {
		padding-left: 4px;
	}

}

.comment-meta {
	font-size: 15px;
}
