.widget_recent_comments {
  	display: inline-block;
	padding-bottom: 50px;
	float: left;
}

.widget_meta {
	display: inline-block;

	li {
		padding-bottom: 10px;
		border-bottom: 1px dashed #bfbfbf;
		padding-top: 10px;

	}
}

.widget-title {
	margin-bottom : 20px;
	border-bottom: solid 4px black;
	font-size: 18px;
	padding-bottom: 10px;
}

.recentcomments {
	border-bottom: 1px dashed #bfbfbf;
	margin-bottom: 5px;
	padding-top: 5px;
	.comment-author-link {
		font-weight:bold;
	}
}

.widget {
	padding-bottom: 30px;
	padding-top: 30px;
	width: 100%;
	min-width:60%;

	&.widget_search {
		form {
			float:none;

		}
		.search-submit {
			display:none;
		}
		.search-field {
			border:none;
			outline:none;
			font-family:$font-heading;
			float:left;
		}
	}

	.search-form::after {
		content:"";
		font-family: FontAwesome;
		float:right;
		padding-right:10px;

	}

	&.widget_categories {
		.children {
			margin-left: 20px;
		}
		.postform {
			width:100%;
		}
	}

	&.widget_pages {
		.children {
			margin-left: 20px;
		}
	}

	&.widget_rss {
		li {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px dashed #ddd;

			a {
				font-weight: bold;
			}

			.rss-date {
				font-style: italic;
			}
			.rssSummary {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

		li:last-child {
			margin-bottom: 0px;
			padding-bottom: 0px;
			border-bottom: none;
		}
	}
	.menu {
		padding-left: 30px;
		list-style-type: circle;

		li {
			max-height: 70px;
			border: none;
			padding-bottom: 5px;
			padding-top: 5px;

			a:hover {
				background: transparent;
				color: #4072db;
			}

			ul {
				list-style-type: disc;
				display: inline;
				padding-left: 15px;
				position: relative;
				border: none;
			}

			ol {
				display:inline;
				padding-left: 15px;
			}
		}
	}
	ol{
		padding-left:30px;
		list-style-type: decimal;
		li {
			ol {
				display: inline;
				padding-left: 15px;
			}
			ul {
				display:inline;
				padding-left: 15px;
			}
		}
	}
}
ul {
	li {
		padding-bottom: 5px;
		padding-top: 5px;
	}
}

.first-widget {
	margin-right: 30px;
	width:100%;
}
.widgets_wrap {
	min-width:350px;
	display:inline-block;
}
.first_wrap {
	float:left;
	margin-right: 15px;
}
form {
	select {
		width: 100%;
	}
}

table {
	thead {
		text-align: left;
	}
}
