.widget_recent_comments {
  	display: inline-block;
	padding-bottom: 50px;
	float: left;
}

.widget_meta {
	display: inline-block;

	li {
		padding-bottom: 10px;
		border-bottom: 1px dashed #bfbfbf;
		padding-top: 10px;

	}
}

.widget-title {
	margin-bottom : 20px;
	border-bottom: solid 4px black;
	font-size: 18px;
	padding-bottom: 10px;
}

.recentcomments {
	border-bottom: 1px dashed #bfbfbf;
	margin-bottom: 5px;
	padding-top: 5px;
	.comment-author-link {
		font-weight:bold;
	}
}

.widget {
	width: 100%;
	min-width:60%;
}

.first-widget {
	margin-right: 30px;
	width:100%;
}
.widgets_wrap {
	min-width:350px;
	display:inline-block;
}
.first_wrap {
	float:left;
	margin-right: 15px;
}
