.row {
	max-width: 100%;
	&.narrow {
		max-width: 100%;
	}
}
.widget-area {
	.widget {
		padding-left: 40px;

	}
}
.content-area {
	max-width: 550px;
}
.widget_recent_comments {
  display: inline-block;
	padding-bottom: 50px;
	float:left;
}
.widget_meta {
	display: inline-block;
	width:165px;
	li {
		padding-bottom:5px;
		border-bottom: 1px dashed #bfbfbf;

	}
}
.widget-title {
	margin-bottom : 20px;
	border-bottom: solid 3px black;
	font-size:18px;
	padding-bottom:5px;
}
.recentcomments {
	border-bottom: 1px dashed #bfbfbf;
	margin-bottom: 5px;
}
.medium-8 {
	max-width: 600px;
}
.section-main {
	padding-left: 34px;
}
.entry-meta {
	color : #bfbfbf;
	a {
		color: #bfbfbf;
	}
}
.post {
	border-bottom: solid 3px #bfbfbf;
	margin-bottom: 50px;
	padding-bottom: 10px;
}
.entry-footer {
	a{
		color:#bfbfbf;
	}
	a:hover {
		color:#404040;
	}
}
.entry {
	padding-bottom: 50px;
	.entry-header {
		padding-bottom: 20px;
	}
}
