.site-header {
	position: relative;
	font-family:$font-heading;
	padding: 10px 0px 0px 5px;
	// height: $layout-header-height;
}
.site-branding {
	display: block;
	padding: 10px 0px 10px 28px;
}
.site-title {
	display: inline-block;
}
.site-description {
	color: #828181;
	display: inline-block;
	margin: 14px 0px 0px 10px;
	font-size: 14px;
	font-weight: bold;
}
.main-navigation {

	width: 100%;
	border-top: solid 1px #bfbfbf;
	position: relative;
	line-height: 34px;
	margin: 15px 0px 35px 0px;
	text-align: left;
	a {
		font-weight:normal;
	}
	.menu {
		.current_page_item {
			display: inline-block;
			margin: 0px 30px 0px 30px;
			height:34px;

			a {
				color: black;
			}
			border-top: 4px solid black;
		}

		.menu-item:not(.current_page_item) {
			display: inline-block;
			margin: 0px 30px 0px 30px;
			height:34px;
			border-top: 4px solid white;

			a {
				font-weight:normal;
				color:#828181;

			}
			a:hover {
				font-weight:normal;
				color: black;
			}
		}

		.menu-item:hover {
			border-top: 4px solid black;
		}


		font-family:$font-heading;
	}

	.sub-menu {
		margin-left: -10px;
		padding-bottom: 15px;
		.menu-item:not(.current_page_item) {
			margin: 0px 0px 0px 0px;
			border: none;
		}
		.menu-item:hover {
			border: none;
		}
		.current_page_item {
			display: inline-block;
			margin: 0px 0px 0px 0px;
			height: 34px;

			a {
				color: black;
			}
			border-top: none;
		}
	}
}
.search-form {
	float:right;
	.search-submit {
		display:none;
	}
	.search-field {
		border:none;
		outline:none;
		font-family:$font-heading;
		float:left;
	}

}
.search-form::after {
	content:"";
	font-family: FontAwesome;
	float:right;
	padding-right:10px;

}
.page-header {
	padding-bottom : 20px;
}
